p {
    font-family: Lato;
  }
  
  html {
    background-color: #fafafa;
  }
  
  body {
    background-color: #fafafa;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .button-row {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding-top: 2%;
  }
  
  /* Change the white to any color */
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active
  {
    box-shadow: 0 0 0 30px #fafafa inset !important;
    -webkit-box-shadow: 0 0 0 30px #fafafa inset !important;
  }